main {
    position: relative;
    display: block;
    width: 70vw;
    height: 50vh;
    overflow: hidden;
    /*background: black;*/
}
main>article {
    position: absolute;
    font-size: 50vh;
    margin: 0;
    color: #777;
    z-index: 1;
}
[data-bubble] {
    position: absolute;
    z-index: 0;
    left: -10vh;
    height: 10vh;
    width: 10vh;
    background: #333;
    border-radius: 100%;
    animation: move 10s forwards infinite linear;
}
[data-bubble]:nth-child(4n){
    animation-duration: 25s;
}
[data-bubble]:nth-child(4n + 1){
    animation-duration: 15s;
}
[data-bubble]:nth-child(4n + 2){
    animation-duration: 15s;
}
[data-bubble]:nth-child(4n + 3){
    animation-duration: 20s;
}

@keyframes move {
    to{top: -20vh; left: 100%}
}