html, body {
    min-height: 800vh;
    margin: 0;
    padding: 0;
}
h1 {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 4em;
}
h1 > * {
    position: relative;
    display: inline-block;
    top: 0;
}