* {
    font-family: Francois One;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.hide-cursor {
    cursor: none;
}

.title {
    position: fixed;
    top: 40px;
    width: 100%;
    color: azure;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}